@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.header-bg {
  padding: 1rem;
  background-color: #000000;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  cursor: pointer;
}

.logo-movie {
  font-family: 'Orbitron', sans-serif;
  color: #e24;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}
