.myMovieFavorites {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myMovieFavorites h1 {
  margin-bottom: 0.875rem;
}

.myMovieFavorites span {
  font-size: 1.125rem;
}

.myMovieFavorites ul {
  width: 720px;
}

.myMovieFavorites ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.875rem;
}

.myMovieFavorites div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myMovieFavorites div a {
  color: #116feb;
  margin-right: 0.875rem;
}
