.movie-info {
  margin-top: 1.125rem;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 0.5rem;
  color: #fff;
}

.movie-info h1 {
  margin-bottom: 0.5rem;
}

.movie-details h3 {
  margin: 0.5rem 0;
}

.movie-details p {
  margin-top: 0.5rem;
}

.movie-details .average-movie {
  font-size: 1rem;
  font-weight: 700;
}

.area-btn button {
  margin: 0.875rem 0.75rem 0.875rem 0;
  font-size: 1.25rem;
  border: 0;
  outline: none;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
}

.btn-save {
  background-color: #1b5c3e;
}

.btn-save:hover {
  background-color: #2e8d61;
}

.btn-trailer {
  background-color: #e01111;
}

.btn-trailer:hover {
  background-color: #f30808;
}

.btn-trailer a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}
