* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(90deg, rgb(62 17 96), rgb(3 3 40));
  color: #ffff;
}

.app {
  padding-top: 6.375rem;
}

.container {
  padding: 0 2rem;
  max-width: 1200px;
  margin: auto;
}

.toast {
  z-index: 1000;
}
