.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(60vh);
  width: 100%;
  margin-top: 7.5rem;
}

.notFound h1 {
  font-size: 7.5rem;
}

.notFound h2 {
  margin-bottom: 0.875rem;
}

.notFound a {
  display: block;
  font-size: 1.25rem;
  color: #ffffff;
  background-color: #e24;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
}
